* {
	font-family: 'Lato', sans-serif;
  }
  
  .bg-primary-color {
	background-color: #fff;
  }
  
  .bg-secondary-color {
	background-color: #ece8e2;
  }
  
  .bg-dark-color {
	background-color: #115e01;
  }
  
  .primary-color {
	color: #115e01;
  }
  
  .secondary-color {
	color: #b3b3b3;
  }
  /*Scroll suave*/
  #inicio, #espaco, #servicos, #equipe, #contato, #psicologos, #nutricionista, #local{
    scroll-behavior: smooth;
    scroll-margin-top: 130px;
  }
   
  /* NAVBAR */
  #navbar {
	border-bottom: 1px solid #115e01;
	
  }
  
  #navbar a {
	color: #126b00;
  font-size: 1.2rem;
  
  }
  
  #navbar a:hover {
	color: #e06602;
  
 }
  
  #navbar .active  {
	border-bottom: 3px solid #ece8e2;
  width: 5%;
  }
  #navbar .active:hover {
    border-bottom: 3px solid #c95b01;
    width:100%;
    transition: all 0.2s;
  }
  
    
  .navbar-brand {
	display: flex;
  }
  
  .navbar-brand img {
	width: 250px;
  }
  
  .navbar-brand span {
	font-weight: 700;
	font-size: 1.5em;
	margin-left: 0.5em;
  }
  
  #navbar-items .navbar-nav {
	display: flex;
	justify-content:right;
	width: 100%;
  }
  
  #navbar-items .nav-item {
	margin: 0 .5em;
  }

  /*TESTE DE FADE*/
  .init-hidden {
    opacity: 0;
    transition: opacity 1s linear;
  }
  .init-hidden-off {
    opacity: 1;
  }


  /* SLIDER */
#slider {
	margin-top: 8em;
	margin-bottom: 1em;
  }
  
  #slider .carousel-caption {
	bottom: 3em;
  }
  
  #slider .carousel-caption h5 {
	font-size: 2.5em;
	text-shadow: #c95b01 2px 2px;
  }
  
  .btn {
	border-radius: 0;
  }
  
  #slider .btn {
	padding: 0.3em 0.8em;
	font-size: 1em;
	margin-top: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
	opacity: 0.7;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
	color: #c95b01;
	font-size: 3em;
  }
  
  .carousel-indicators [data-bs-target] {
	background-color: #222;
	opacity: 0.8;
  }
  
  .carousel-indicators .active {
	background-color: #d35f00;
  }
  .line-color {
    color: #b3b3b3;
  }
  
  
  @media (min-width: 768px) {
	#slider .carousel-caption {
	  bottom: 15em;
	}
	#slider .carousel-caption h5 {
	  font-size: 4em;
	  text-shadow: #c5c0c0 2px 3px;
	}
	#slider .btn {
	  padding: 0.6em 1.6em;
	  font-size: 1.2em;
	  margin-top: 1em;
	}
	.carousel-indicators {
	  bottom: 1em;
	}
  }
  
  
  /* DESTAQUES */
#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
  color: #137000;
}




#featured-images {
  margin-top: 2em;
}

#featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content {
  opacity: 0.8;
  color: #115e01;
}

#featured-images .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.5s;
}
.banner-content1 {
  color: #136d01;
  text-align: justify;
  
  
}


@media (min-width: 768px) {
  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }

  #featured-images .banner-content {
    opacity: 0;
  }
}


/* DESTAQUES */
#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title:before {
  width: 75px;
  border-top: 4px solid #c95b01;
  content: '';
  position: absolute;
  bottom: 2em;
}

#featured-images {
  margin-top: 2em;
}

#featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content {
  opacity: 0.8;
}

#featured-images .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.5s;
}

h3 {
  border-bottom: 1px solid #c95b01;
  color: #115e01;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }

  #featured-images .banner-content {
    opacity: 0;
  }
}

.title:before {
  width: 75px;
  border-top: 4px solid #c95b01;
  content: '';
  position: absolute;
  bottom: 2em;
}
/*Link de especialidades*/
.btn-secondary {
  color: #fff;
  background-color: #115e01;
  border-color: #c95b01;
  border-radius: 2.5px;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #c95b01;
  border-color: #115e01;
  box-shadow: 0 0 0 0.25rem #115e01;
}

.btn-secondary:hover {
  color: rgb(255, 255, 255);
  background-color: #136d00;
  border-color: #c95b01;
}

/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}


/*Localização*/
.btn-primary {
  color: #fff;
  background-color: #115e01;
  border-color: #c95b01;
}
.accordion-button:not(.collapsed) {
  color: #115e01;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-button {
  color: #115e01;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-button {
  color: #115e01;
}
.loc {
  color: #115e01;
}
.trabcnc {
  color: #b3b3b3;
}
/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #c95b01;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #dfdfdf;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #e06602;
}

/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #e06602;
  padding-top: 2em;
}

#footer-bottom i {
  color: #e61e10;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #e06602;
    border-right: 1px solid #e06602;
  }

  #links-container {
    padding-left: 2em;
  }
}


/*Trabalhe conosco*/
.btn-primary:hover {
  color: #fff;
  background-color: #c95b01;
  border-color: 1px solid #115e01;
}

/*arrow*/
